@{ }
<section class="container-fluid" style="padding-top:0">
    <div class="row">
        <div style="background-image:url('/images/leonard-cotte-c1Jp-fo53U8-unsplash-400.jpg');min-height:400px;background-repeat:no-repeat; background-size:cover;color:#fff;">
            <h1 style="padding:80px 0 0 50px; font-size:5em;">Generative AI Tours</h1>
            <p style="padding:0 0 0 50px; font-size:1.5em;">Create your own holiday itinerary using AI. Simply select your location, duration and interests!</p>
        </div>
    </div>
</section>

<div class="text-center container">
    <section>
        <h2>1. Destination</h2>
        <p>Where would you like to go? Not sure?, get some <a href="/inspiration">inspiration</a>.</p>
        <div id="cities"></div>
        <br />
        <div id="countries"></div>
    </section>

    <hr />

    <div class="row">

        <div class="col">

            <section>
                <h2>2. Duration</h2>
                <p>How many days would you like to stay for?</p>
                <div id="duration"></div>
            </section>

        </div>

        <div class="col">

            <section>
                <h2>3. Interests</h2>
                <p>What are some of your interests?</p>
                <div id="interests"></div>
            </section>

        </div>

    </div>

    <hr />

    <section>
        <p id="prompt">
            <strong>Prompt:</strong><br />
            <div id="lblPrompt"></div>
        </p>
        <button id="btnCreateItinerary" class="btn btn-success btn-lg" onclick="CreateItinerary();">Create itinerary</button>

        <h2 id="results-heading"></h2>

    </section>


    <section>
        <div class="row">
            <div class="col">
                <div id="lblResponse" style="text-align:left"></div>
            </div>
            <div class="col">
                <div id="map"></div>
            </div>
        </div>
    </section>

</div>

@section Scripts
    {
    <script>

        var _location = '';
        var _interests = '';
        var _days = 0;

        var _prompt = '';

        UI.AddInterestButtons('interests');
        UI.AddCityButtons('cities');
        UI.AddCountryButtons('countries');
        UI.AddDurationButtons('duration');

        function SetLocation(location) {
            _location = location;
            CreatePrompt();
        }

        function SetDays(days) {
            _days = days;
            CreatePrompt();
        }

        function SetInterest(interest) {
            _interests = UI.GetCheckedInterests();
            CreatePrompt();
        }

        function CreatePrompt() {
            if (_location == '') {
                alert('Please select a location');
                return;
            }

            _prompt = 'Suggest places to visit in ' + _location + '.';

            if (_days > 0) {
                _prompt += ' Create a ' + _days + ' day itinerary.';
            }

            if (_interests != '') {
                _prompt += ' For people with interests in ' + _interests + ', with a brief descriptions of each place.';
            }

            //  Suggest places to visit in Paris.Create a 5 day itinerary.For people interested in Culture.

            _prompt += ' Return in json format, a property for location(' + _location + '), another property for duration(' + _days + '), another for interests (' + _interests + '), then another for days as an array containing day objects (each with an increasing day number and array of activities and each activity with its own name, description and latitude, longitude properties).';
            //_prompt += 'Wrap names of locations in the description property in double angle brackets ([[]])';




            navigator.clipboard.writeText(_prompt);

            document.getElementById('lblPrompt').innerText = _prompt;
        }

        function CreateItinerary() {

            if (_location === '') {
                alert('Please select a location');
                return;
            }

            const postData = async (url, data) => {
                try {

                    // Disable button and change text
                    document.getElementById('btnCreateItinerary').innerText = 'Generating itinerary..';
                    document.getElementById('btnCreateItinerary').disabled = true;

                    const response = await fetch(url, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(data)
                    });

                    if (!response.ok) {
                        throw new Error('Error posting data to API');
                    }

                    console.log('Data sent:', data);
                    

                    const result = await response.json();
                    console.log('Post successful:', result);



                    // Show results heading
                    document.getElementById('results-heading').innerHTML = 'Itinerary for a ' + _days + ' day visit to ' + _location + ' <br/>for those with an interest in ' + _interests;



                    //let text = result.choices[0].text;
                    let text = result;

                    console.log('First choice:', text);

                    // Show response from Open AI
                    //document.getElementById('lblResponse').innerText = text;

                    showItinerary(text);

                    Map.PlotLocations(text);

                    // Set button back to normal
                    document.getElementById('btnCreateItinerary').innerText = 'Create itinerary..';
                    document.getElementById('btnCreateItinerary').disabled = false;

                } catch (error) {
                    console.error('Error:', error);
                }
            };

            // Usage
            const apiUrl = 'https://localhost:7234/tour';
            const stringData = _prompt;

            postData(apiUrl, stringData);
        }

        function showItinerary(itinerary) {

            console.log(itinerary);

            const itineraryContainer = document.createElement("div");
            itineraryContainer.className = "itinerary-container";

            /*
            const locationHeading = document.createElement("h2");
            locationHeading.textContent = `Location: ${itinerary.location}`;
            itineraryContainer.appendChild(locationHeading);

            const durationHeading = document.createElement("h2");
            durationHeading.textContent = `Duration: ${itinerary.duration} days`;
            itineraryContainer.appendChild(durationHeading);

            const interestsHeading = document.createElement("h2");
            interestsHeading.textContent = "Interests:";
            itineraryContainer.appendChild(interestsHeading);

            const interestsList = document.createElement("ul");
            interestsList.className = "interests-list";
            itinerary.interests.forEach(interest => {
                const interestItem = document.createElement("li");
                interestItem.textContent = interest;
                interestsList.appendChild(interestItem);
            });
            itineraryContainer.appendChild(interestsList);
            

            const daysHeading = document.createElement("h2");
            daysHeading.textContent = "Itinerary:";
            itineraryContainer.appendChild(daysHeading);

            */

            let activityNumber = 1;

            // For each day
            itinerary.days.forEach(day => {
                const dayContainer = document.createElement("div");
                dayContainer.className = "day-container";

                const dayNumberHeading = document.createElement("h3");
                dayNumberHeading.textContent = `Day ${day.dayNumber} `;
                dayContainer.appendChild(dayNumberHeading);


                // For each activity
                day.activities.forEach(activity => {

                    activity.number = activityNumber;
                    activityNumber++;


                    const activityContainer = document.createElement("div");
                    activityContainer.className = "activity-container";

                    const activityName = document.createElement("h4");
                    activityName.textContent = activity.number + '. ' + activity.name;
                    activityContainer.appendChild(activityName);

                    const activityDescription = document.createElement("p");
                    activityDescription.textContent = activity.description;
                    activityContainer.appendChild(activityDescription);

                    


                    dayContainer.appendChild(activityContainer);
                });

                itineraryContainer.appendChild(dayContainer);
            });


            var div = document.getElementById("lblResponse");
            div.appendChild(itineraryContainer);

            /*

            var div = document.getElementById("lblResponse");

            // Split the text into individual lines
            var lines = text.split("\n");

            // Create a variable to store the HTML content
            var htmlContent = "";

            // Iterate through each line
            for (var i = 0; i < lines.length; i++) {
                var line = lines[i];

                // Check if the line starts with "Day "
                if (line.startsWith("Day ")) {
                    // Add the line with bold formatting
                    htmlContent += "<strong>" + line + "</strong>";
                } else {
                    // Add the line without any formatting
                    htmlContent += line;
                }

                // Add a line break after each line
                htmlContent += "<br>";
            }

            // Set the HTML content of the div
            div.innerHTML = htmlContent;

            */
        }
    </script>
}