@{ }
<section class="container-fluid" style="padding-top:0">
    <div class="row">
        <div style="background-image:url('/images/leonard-cotte-c1Jp-fo53U8-unsplash-400.jpg');min-height:400px;background-repeat:no-repeat; background-size:cover;color:#fff;">
            <h1 style="padding:80px 0 0 50px; font-size:5em;">Generative AI Tours</h1>
            <p style="padding:0 0 0 50px; font-size:1.5em;">Create your own holiday itinerary using AI. Simply select your location, duration and interests!</p>
        </div>
    </div>
</section>

<div class="text-center container">

    <section>
        <h2>1. Destination</h2>
        <p>Where would you like to go? Not sure?, get some <a href="/inspiration">inspiration</a>.</p>
        <div id="cities"></div>
        <br />
        <div id="countries"></div>
    </section>

    <hr />

    <div class="row">

        <div class="col">
            <section>
                <h2>2. Duration</h2>
                <p>How many days would you like to stay for?</p>
                <div id="duration"></div>
            </section>
        </div>

        <div class="col">
            <section>
                <h2>3. Interests</h2>
                <p>What are some of your interests?</p>
                <div id="interests"></div>
            </section>
        </div>

    </div>

    <hr />

    <section>
        <p id="prompt">
            <strong>Prompt:</strong><br />
            <div id="lblPrompt"></div>
        </p>
        <button id="btnCreateItinerary" class="btn btn-success btn-lg" onclick="Itinerary.CreateItinerary();">Create itinerary</button>

        <h2 id="results-heading"></h2>

    </section>

    <section>
        <div class="row">
            <div class="col">
                <div id="map"></div>
            </div>
        </div>
        <div class="row" id="lblResponse"></div>
    </section>

</div>

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="activityModalHeading" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="activityModalHeading">[Activity Title Here]</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="activityModalDescription">
                [Longer Activity Description Here]
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section Scripts
    {
    <script>
        UI.AddInterestButtons('interests');
        UI.AddCityButtons('cities');
        UI.AddCountryButtons('countries');
        UI.AddDurationButtons('duration');
    </script>
}