@{ }
<section class="container-fluid" style="padding-top:0">
    <div class="row">
        <div style="background-image:url('/images/leonard-cotte-c1Jp-fo53U8-unsplash-400.jpg');min-height:400px;background-repeat:no-repeat; background-size:cover;color:#fff;">
            <h1 style="padding:80px 0 0 50px; font-size:5em;">Generative AI Tours</h1>
            <p style="padding:0 0 0 50px; font-size:1.5em;">Create your own holiday itinerary using AI. Simply select your location, duration and interests!</p>
        </div>
    </div>
</section>

<div class="text-center container">
    <section>
        <h2>1. Destination</h2>
        <p>Where would you like to go? Not sure?, get some <a href="/inspiration">inspiration</a>.</p>
        <div id="cities"></div>
        <br />
        <div id="countries"></div>
    </section>

    <hr />

    <div class="row">

        <div class="col">

            <section>
                <h2>2. Duration</h2>
                <p>How many days would you like to stay for?</p>
                <div id="duration"></div>
            </section>

        </div>

        <div class="col">

            <section>
                <h2>3. Interests</h2>
                <p>What are some of your interests?</p>
                <div id="interests"></div>
            </section>

        </div>

    </div>

    <hr />

    <section>
        <p id="prompt">
            <strong>Prompt:</strong><br />
            <div id="lblPrompt"></div>
        </p>
        <button id="btnCreateItinerary" class="btn btn-success btn-lg" onclick="CreateItinerary();">Create itinerary</button>

        <h2 id="results-heading"></h2>

    </section>

    <section>
        <div class="row">
            <div class="col">
                <div id="map"></div>
            </div>
        </div>
        <div class="row" id="lblResponse">
            @*<div class="col">*@
                @*<div id="lblResponse" style="text-align:left"></div>*@
            @*</div>*@
        </div>
    </section>

</div>

@section Scripts
    {
    <script>

        var _location = '';
        var _interests = '';
        var _days = 0;
        var _prompt = '';

        UI.AddInterestButtons('interests');
        UI.AddCityButtons('cities');
        UI.AddCountryButtons('countries');
        UI.AddDurationButtons('duration');

        function SetLocation(location) {
            _location = location;
            CreatePrompt();
        }

        function SetDays(days) {
            _days = days;
            CreatePrompt();
        }

        function SetInterest(interest) {
            _interests = UI.GetCheckedInterests();
            CreatePrompt();
        }

        function CreatePrompt() {
            if (_location == '') {
                alert('Please select a location');
                return;
            }

            _prompt = 'Suggest places to visit in ' + _location + '.';

            if (_days > 0) {
                _prompt += ' Create a ' + _days + ' day itinerary containing 3 activities per day.';
            }

            if (_interests != '') {
                _prompt += ' For people with interests in ' + _interests + ', with a brief descriptions of each place.';
            }

            //  Suggest places to visit in Paris.Create a 5 day itinerary.For people interested in Culture.

            _prompt += ' Return in json format, a property for location(' + _location + '), another property for duration(' + _days + '), another for interests (' + _interests + '), then another for days as an array containing day objects (each with an increasing dayNumber property and an array of activities and each activity with its own name, description and latitude, longitude properties).';
            //_prompt += 'Wrap names of locations in the description property in double angle brackets ([[]])';

            navigator.clipboard.writeText(_prompt);

            document.getElementById('lblPrompt').innerText = _prompt;
        }

        function CreateItinerary() {

            if (_location === '') {
                alert('Please select a location');
                return;
            }

            // Clear any existing results
            // Disable button and change text
            document.getElementById('results-heading').innerHTML = '';
            document.getElementById('lblResponse').innerHTML = '';

            document.getElementById('btnCreateItinerary').innerText = 'Generating itinerary..';
            document.getElementById('btnCreateItinerary').disabled = true;

            const postData = async (url, data) => {
                try {
                    const response = await fetch(url, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(data)
                    });

                    if (!response.ok) {
                        throw new Error('Error posting data to API');
                    }

                    console.log('Data sent:', data);

                    const result = await response.json();
                    console.log('Post successful:', result);

                    // Show results heading
                    document.getElementById('results-heading').innerHTML = 'Itinerary for a ' + _days + ' day visit to ' + _location + ' <br/>for those with an interest in ' + _interests;

                    //let text = result.choices[0].text;
                    let text = result;

                    console.log('First choice:', text);

                    // Show response from Open AI
                    //document.getElementById('lblResponse').innerText = text;

                    showItinerary(text);

                    Map.PlotLocations(text);

                    // Set button back to normal
                    document.getElementById('btnCreateItinerary').innerText = 'Create itinerary..';
                    document.getElementById('btnCreateItinerary').disabled = false;

                } catch (error) {
                    console.error('Error:', error);
                }
            };

            // Usage
            const apiUrl = 'https://localhost:7234/tour';
            const stringData = _prompt;

            postData(apiUrl, stringData);
        }

        function showItinerary(itinerary) {

            console.log(itinerary);

            document.getElementById('btnCreateItinerary').style.display = "none";

            //const itineraryContainer = document.createElement("div");
            //itineraryContainer.className = "itinerary-container";

            let activityNumber = 1;

            const lblResponse = document.getElementById("lblResponse");

            // For each day
            itinerary.days.forEach(day => {
                //const dayContainer = document.createElement("div");
                //dayContainer.className = "day-container";

                const dayNumberHeading = document.createElement("h3");
                dayNumberHeading.textContent = `Day ${day.dayNumber} `;
                //dayContainer.appendChild(dayNumberHeading);
                lblResponse.appendChild(dayNumberHeading);

                // For each activity
                day.activities.forEach(activity => {

                    activity.number = activityNumber;
                    activityNumber++;

                    const col = document.createElement("div");
                    col.className = "col-4";

                    const cardContainer = document.createElement("div");
                    cardContainer.className = "card";

                    const image = document.createElement("img");
                    image.className = "card-img-top";
                    image.src = '/activities/' + itinerary.location + ' ' + activity.name + '.jpg';

                    const cardBody = document.createElement("div");
                    cardBody.className = "card-body";

                    const activityHeading = document.createElement("h5");
                    activityHeading.innerText = activity.number + '. ' + activity.name;

                    const cardText = document.createElement("p");
                    cardText.className = "card-text";
                    cardText.innerText = activity.description;

                    const mapButton = document.createElement("a");
                    mapButton.innerText = "View on Map";
                    mapButton.className = "btn btn-primary";
                    mapButton.style.margin = "3px";

                    const infoButton = document.createElement("btn");
                    infoButton.type = "button";
                    infoButton.innerText = "More Information";
                    infoButton.className = "btn btn-primary";
                    infoButton.style.margin = "3px";


                            //button type = "button" class="btn btn-light"


                    col.appendChild(cardContainer);

                    cardContainer.appendChild(image);
                    cardContainer.appendChild(cardBody);

                    cardBody.appendChild(activityHeading);
                    cardBody.appendChild(cardText);
                    cardBody.appendChild(mapButton);
                    cardBody.appendChild(infoButton);

                    //dayContainer.appendChild(col);
                    lblResponse.appendChild(col);

                    /*
                    const activityContainer = document.createElement("div");
                    activityContainer.className = "activity-container";

                    const activityName = document.createElement("h4");
                    activityName.textContent = activity.number + '. ' + activity.name;
                    activityContainer.appendChild(activityName);

                    const activityDescription = document.createElement("p");
                    activityDescription.textContent = activity.description;
                    activityContainer.appendChild(activityDescription);

                    const activityImage = document.createElement("img");
                    activityImage.className = "activity-image";
                    activityImage.src = '/activities/' + itinerary.location + ' ' + activity.name + '.jpg';
                    activityContainer.appendChild(activityImage);

                    dayContainer.appendChild(activityContainer);
                    */
                });

                //lblResponse.appendChild(dayContainer);

                //itineraryContainer.appendChild(dayContainer);
            });

            //var div = document.getElementById("lblResponse");
            //div.appendChild(itineraryContainer);
        }
    </script>
}