@{ }
<section class="container-fluid" style="padding-top:0">
    <div class="row">
        <div style="background-image:url('/images/bruno-abatti.jpg');min-height:400px;background-repeat:no-repeat; background-size:cover;color:#fff;">
            <h1 style="padding:80px 0 0 50px; font-size:5em;">Generative AI Tours</h1>
            <p style="padding:0 0 0 50px; font-size:1.5em;">Create your own holiday itinerary using AI. Simply select your location, duration and interests!</p>
        </div>
    </div>
</section>

<div class="text-center container">
    <section>
        <h2>Get personalised locations inspired by your interests!</h2>
        <p>What are you looking for in a holiday?</p>

        <div id="interests"></div>

        <hr />

        <p id="prompt"><strong>Prompt:</strong><br /><div id="lblPrompt"></div></p>

        <button id="btnSuggestLocations" class="btn btn-success btn-lg" onclick="Inspiration.SuggestLocations();">Suggest locations</button>
        <hr />

        <div id="lblResponse" style="text-align:left"></div>
    </section>
</div>


@section Scripts {
    <script src="~/js/Inspiration.js" asp-append-version="true"></script>

    <script>

        UI.AddInterestButtons('interests');

    </script>
}